<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Question</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :qtype, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :qtype, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :media, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :media, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :question, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :question, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :options, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :options, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :answer, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :answer, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', questions_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
