<h1>Question</h1>
<table class="table table-striped">
  <tr>
    <td>Title</td>
    <td><%= @question.title %></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><%= @question.user.username %></td>
  </tr>
  <tr>
    <td>Qtype</td>
    <td><%= @question.qtype %></td>
  </tr>
  <tr>
    <td>Media</td>
    <td><%= image_tag("#{@question.media}") %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= simple_format(@question.description) %></td>
  </tr>
  <tr>
    <td>Question</td>
    <td><%= @question.question %></td>
  </tr>
  <tr>
    <td>Options</td>
    <td><%= simple_format(line_break(@question.options)) %></td>
  <tr>
    <td>Answer</td>
    <td><%= @question.answer %></td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to 'Back', questions_path, :class => 'btn'  %>
  <% if can? :edit, @question %>
    <%= link_to 'Edit', edit_question_path(@question), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @question %>
    <%= link_to 'Delete', question_path(@question), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
